@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #193300;
  background-image: url("assets/images/bg.png");
  overflow-x: hidden;
}

.fun-font {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.battle-grid {
  @apply grid grid-cols-9 grid-rows-9 mt-10 w-[50rem] mx-auto relative rounded-3xl;
  filter: drop-shadow(5px 5px 10px #000000);
  background: url("assets/images/map.webp") no-repeat right / cover;

  &:after {
    @apply absolute bottom-0 left-0 w-full h-full opacity-60 content-[""] bg-black rounded-3xl;
  }
}

.grid-cell {
  @apply aspect-square relative;
}

.avatar {
  @apply w-full h-full transition-transform duration-[100ms] scale-150 absolute;
  &.hero,
  &.foe {
    &:before {
      @apply absolute top-0 left-0 bottom-0 right-0 content-[""] border-dashed border-blue-300 border-[3px] rounded-full -m-1;
      animation: rotate-border 5s linear infinite;
    }
  }

  &.foe {
    @apply z-20 duration-[100ms];
    &:before {
      @apply border-orange-500;
    }
  }
}

.start-battle {
  @apply text-white relative p-4 font-semibold fun-font text-2xl transform-gpu transition-shadow ease-in-out;
  box-shadow: 0 0 0 1px black;

  &:hover {
    box-shadow: 8px 8px 0 1px black;
  }

  &:after {
    @apply top-0 left-0 w-full h-full opacity-20 absolute content-[""];
    background: url("assets/images/battle-scene.jpg") no-repeat 5% 32%;
  }
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.customOverlay {
  background: rgba(0, 0, 0, 0.7);
}
.customModal {
  max-width: 500px;
  width: 100%;
}
